<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>12954</key>
	<array>
		<string>Cat</string>
		<string>Winnie</string>
		<string>Female</string>
		<string>Manx</string>
		<string>7</string>
		<string>https://www.austinpetsalive.org/adopt/available-cat-details/?ID=12954</string>
	</array>
	<key>19528</key>
	<array>
		<string>Cat</string>
		<string>Gracie</string>
		<string>Female</string>
		<string>Domestic Medium Hair</string>
		<string>6</string>
		<string>https://www.austinpetsalive.org/adopt/available-cat-details/?ID=19528</string>
	</array>
	<key>38280</key>
	<array>
		<string>Cat</string>
		<string>Tinsel</string>
		<string>Female</string>
		<string>Siamese</string>
		<string>4</string>
		<string>https://www.austinpetsalive.org/adopt/available-cat-details/?ID=38280</string>
	</array>
	<key>46275</key>
	<array>
		<string>Cat</string>
		<string>Kraken</string>
		<string>Male</string>
		<string>Domestic Medium Hair</string>
		<string>2</string>
		<string>https://www.austinpetsalive.org/adopt/available-cat-details/?ID=46275</string>
	</array>
	<key>60526</key>
	<array>
		<string>Cat</string>
		<string>Shrimp</string>
		<string>Male</string>
		<string>Domestic Shorthair</string>
		<string>0</string>
		<string>https://www.austinpetsalive.org/adopt/available-cat-details/?ID=60526</string>
	</array>
	<key>60596</key>
	<array>
		<string>Cat</string>
		<string>Umgunkafunk</string>
		<string>Male</string>
		<string>Domestic Shorthair</string>
		<string>0</string>
		<string>https://www.austinpetsalive.org/adopt/available-cat-details/?ID=60596</string>
	</array>
	<key>28104</key>
	<array>
		<string>Dog</string>
		<string>Major</string>
		<string>Male</string>
		<string>Collie, Border/Mix</string>
		<string>4</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=28104</string>
	</array>
	<key>46437</key>
	<array>
		<string>Dog</string>
		<string>Lady Red</string>
		<string>Female</string>
		<string>Terrier/Mix</string>
		<string>7</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=46437</string>
	</array>
	<key>50417</key>
	<array>
		<string>Dog</string>
		<string>Echo</string>
		<string>Female</string>
		<string>Shepherd/Mix</string>
		<string>1</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=50417</string>
	</array>
	<key>61262</key>
	<array>
		<string>Dog</string>
		<string>Mitchum</string>
		<string>Male</string>
		<string>Terrier, Pit Bull</string>
		<string>0</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=61262</string>
	</array>
	<key>58550</key>
	<array>
		<string>Dog</string>
		<string>Rizzo</string>
		<string>Male</string>
		<string>Rottweiler/Mix</string>
		<string>2</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=58550</string>
	</array>
	<key>65471</key>
	<array>
		<string>Dog</string>
		<string>Tortellini</string>
		<string>Male</string>
		<string>Chihuahua/Mix</string>
		<string>2</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=65471</string>
	</array>
	<key>44463</key>
	<array>
		<string>Dog</string>
		<string>Fredrick</string>
		<string>Male</string>
		<string>Terrier, Pit Bull</string>
		<string>4</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=44463</string>
	</array>
	<key>40737</key>
	<array>
		<string>Dog</string>
		<string>Picasso</string>
		<string>Male</string>
		<string>Terrier, Bull</string>
		<string>10</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=40737</string>
	</array>
	<key>36766</key>
	<array>
		<string>Dog</string>
		<string>Spanky</string>
		<string>Male</string>
		<string>Catahoula Leopard</string>
		<string>6</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=36766</string>
	</array>
	<key>20181</key>
	<array>
		<string>Dog</string>
		<string>Bamboo</string>
		<string>Male</string>
		<string>Pyrenees</string>
		<string>7</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=20181</string>
	</array>
	<key>61265</key>
	<array>
		<string>Dog</string>
		<string>Bogart</string>
		<string>Male</string>
		<string>Terrier, Pit Bull</string>
		<string>0</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=20181</string>
	</array>
	<key>61261</key>
	<array>
		<string>Dog</string>
		<string>Becall</string>
		<string>Female</string>
		<string>Terrier, Pit Bull</string>
		<string>0</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=61261</string>
	</array>
	<key>61756</key>
	<array>
		<string>Dog</string>
		<string>Hank Azaria</string>
		<string>Male</string>
		<string>Terrier, Pit Bull</string>
		<string>2</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=61756</string>
	</array>
	<key>61765</key>
	<array>
		<string>Dog</string>
		<string>Johannes Kibbler</string>
		<string>Female</string>
		<string>Terrier, Pit Bull</string>
		<string>1</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=61765</string>
	</array>
	<key>61873</key>
	<array>
		<string>Dog</string>
		<string>Hannah</string>
		<string>Female</string>
		<string>Terrier, Pit Bull</string>
		<string>2</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=61873</string>
	</array>
	<key>39335</key>
	<array>
		<string>Dog</string>
		<string>Amma</string>
		<string>Female</string>
		<string>American Blue Heeler</string>
		<string>3</string>
		<string>https://www.austinpetsalive.org/adopt/available-dog-details/?ID=39335</string>
	</array>
	<key>60084</key>
	<array>
		<string>Cat</string>
		<string>Lance</string>
		<string>Male</string>
		<string>Domestic Shorthair</string>
		<string>10</string>
		<string>https://www.austinpetsalive.org/adopt/available-cat-details/?ID=60084</string>
	</array>
	<key>60134</key>
	<array>
		<string>Cat</string>
		<string>Sam Vimes</string>
		<string>Male</string>
		<string>Bombay/Mix</string>
		<string>0</string>
		<string>https://www.austinpetsalive.org/adopt/available-cat-details/?ID=60134</string>
	</array>
	<key>60900</key>
	<array>
		<string>Cat</string>
		<string>Bella</string>
		<string>Female</string>
		<string>Domestic Shorthair</string>
		<string>0</string>
		<string>https://www.austinpetsalive.org/adopt/available-cat-details/?ID=60900</string>
	</array>
	<key>61179</key>
	<array>
		<string>Cat</string>
		<string>Adele</string>
		<string>Female</string>
		<string>Domestic Shorthair</string>
		<string>5</string>
		<string>https://www.austinpetsalive.org/adopt/available-cat-details/?ID=61179</string>
	</array>
	<key>61219</key>
	<array>
		<string>Cat</string>
		<string>Paige</string>
		<string>Female</string>
		<string>Domestic Shorthair</string>
		<string>0</string>
		<string>https://www.austinpetsalive.org/adopt/available-cat-details/?ID=61219</string>
	</array>
	<key>61231</key>
	<array>
		<string>Cat</string>
		<string>Binx</string>
		<string>Male</string>
		<string>Domestic Shorthair</string>
		<string>8</string>
		<string>https://www.austinpetsalive.org/adopt/available-cat-details/?ID=61231</string>
	</array>
</dict>
</plist>
